.hero-btn {
    border: 0;
    background-color: #FFE8D6;
    color: rgba(0, 0, 0, 0.75);
    border-radius: 25px;
    padding: 0.4rem 1.7rem;
    font-size: 1.5rem;
    font-weight: 550;
    letter-spacing: 2px;
    transition: box-shadow 0.3s ease;
    position: relative;
    cursor: pointer;
    opacity: 0.9;
}

.hero-btn:hover {
    box-shadow: 0px 0px 8px 8px #ffb5a7;
}