.claslist {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.cast {
  display: flex;
  flex-direction: column;
}

.cast-img {
  height: 200px;
  width: 150px;
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cast-name {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0.8px;
}