.item-title {
  margin: 0;
  font-size: 3.8rem;
  letter-spacing: 3px;
}

.date {
  font-size: 1.2rem;
}

.date span {
  font-size: 1.3rem;
  font-weight: 530;
  font-style: italic;
  letter-spacing: 1px;
}

.genre {
  width: 100%;
}

.genre span {
  margin-right: 0.7rem;
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  border: 3px solid #f4f3ee;
  border-radius: 25px;
  background-color: #A5A58D;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.3rem 0.7rem;
}

.item-overview {
  font-size: 1.5rem;
  font-weight: 550;
  font-style: italic;
  line-height: 2rem;
  letter-spacing: 1.5px;
}

.rating {
  margin: 0 0.7rem 0 0;
  display: inline;
  font-size: 1.5rem;
  border: 2px solid #f4f3ee;
  padding: 0.3rem 1rem;
  letter-spacing: 2px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.rating span {
  font-size: 1.6rem;
  font-weight: 600;
  font-style: italic;
}

.cast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.cast-container h2 {
  font-size: 1.6rem;
  letter-spacing: 3px;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.4), black, rgba(255, 255, 255, 0.4));
  width: 80%;
  border-radius: 40px;
  text-align: center;
  padding: 0.5rem;
}