.header {
    background-color: #B7B7A4;
    position: sticky;
    top: 0;
    width: 100%; 
    z-index: 999; 
    height: 5rem;
}

.nav {
    display: flex; 
    justify-content: center;
    height: 100%;
}

.nav a {
    text-decoration: none;
}

.header-li {
    list-style: none;
    font-size: 2.2rem;
    font-weight: 750;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.header-li i {
    color: #e26d5c;
}

.sp {
    margin-left: 4px;
    color: black;
    letter-spacing: 3px;
    position: relative;
    opacity: 0.8;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        transition: width 0.5s ease;
        height: 2px;
        background-color: #e26d5c;
    }

    &.active:after,
    &:hover:after {
        width: 100%;
    }
}